name: Run check
on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string

jobs:
  run-check:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install --frozen-lockfile
      # Use env var to prevent script injection
      - name: Run command
        env:
          COMMAND: ${{ inputs.command }}
          GITHUB_TOKEN: ${{ github.token }}
        run: $COMMAND
